@model ProyectoFinalVentasMVC.Models.Cliente

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Actualizar Datos del Cliente</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Actualizar Datos del Cliente</h2>
        <br /><br />
        <form asp-action="ActualizarCliente" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombres"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Apellidos"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Cedula"></label>
                <input asp-for="Cedula" class="form-control" readonly />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Direccion"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Telefono"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Correo"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <br /><br />
            <button type="submit" class="btn btn-info">Guardar Cambios</button>║
            <a asp-action="ListarClientes" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</body>
</html>
